body{
    font-family: 'Roboto Condensed', sans-serif;
    /* background:  rgb(255, 253, 253); */
}

.small{
    font-size:0.5rem;
}

.grid-container {

    align-items: center;
    display: grid;
    /* gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3; */
    padding: 50px;
  }

  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 50px;
    font-size: 30px;
    text-align: center;
  }